rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // User translation history
    match /users/{userId}/translations/{translation} {
      allow read, delete: if request.auth != null && request.auth.uid == userId;
    }

  }
}
